<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="onPress(1)">All Students</a>
      <a mat-list-item (click)="onPress(2)">Search Student</a>
      <a mat-list-item (click)="onPress(3)">Add Student</a>
      <a mat-list-item (click)="onPress(4)">Update Student</a>
      <a mat-list-item (click)="onPress(5)">Delete Student</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ServiceDemo</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div id="comp-render" [ngSwitch]="display">
      <span *ngSwitchCase=1><app-get></app-get></span>
      <span *ngSwitchCase=2><app-get-by-id></app-get-by-id></span>
      <span *ngSwitchCase=3><app-add></app-add></span>
      <span *ngSwitchCase=4><app-update></app-update></span>
      <span *ngSwitchCase=5><app-delete></app-delete></span>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
